:root {
  --svgo-global-width: 1200px;
  --svgo-pill-bg-color: var(--ifm-color-primary);
  --svgo-pill-fg-color: hsl(0 0% 100%);
  --svgo-pri-bg-color: hsl(0 0% 100%);
  --svgo-pri-fg-color: hsl(202 52% 17%);
  --svgo-search-bg-color: var(--svgo-tir-bg-color);
  --svgo-search-bg-hover: hsl(0 0% 86%);
  --svgo-sec-bg-color: hsl(30 10% 96%);
  --svgo-tir-bg-color: hsl(0 0% 91%);
  --svgo-logo-fg-color: hsl(60 4% 11%);
  --svgo-button-hover-background-color: hsl(202 52% 22%);

  --ifm-background-color: var(--svgo-pri-bg-color) !important;
  --ifm-code-font-size: 95% !important;
  --ifm-color-primary: hsl(217 77% 38%) !important;
  --ifm-container-width-xl: var(--svgo-global-width) !important;
  --ifm-footer-padding-horizontal: 1rem !important;
  --ifm-menu-color: hsl(214 8% 31%) !important;
  --ifm-navbar-background-color: var(--svgo-pri-bg-color) !important;
  --ifm-navbar-search-input-placeholder-color: var(--ifm-menu-color) !important;
  --ifm-navbar-shadow: 0 .5rem .5rem 0 hsl(201 61% 10% / 0.1) !important;
  --ifm-tabs-color: var(--ifm-menu-color) !important;
  --ifm-spacing-horizontal: 1rem !important;
  --search-local-hit-background: var(--svgo-sec-bg-color) !important;

  color: var(--svgo-pri-fg-color);

  @media (prefers-color-scheme: dark) {
    --svgo-pill-bg-color: hsl(210 88% 29%);
    --svgo-pill-fg-color: hsl(210 79% 95%);
    --svgo-pri-bg-color: hsl(203 42% 12%);
    --svgo-pri-fg-color: hsl(0 0% 100%);
    --svgo-search-bg-hover: hsl(204 13% 45%);
    --svgo-sec-bg-color: hsl(204 41% 18%);
    --svgo-tir-bg-color: hsl(203 13% 40%);
    --svgo-logo-fg-color: hsl(0 0% 100%);
    --svgo-button-hover-background-color: hsl(0 0% 90%);

    --ifm-color-primary: hsl(205 100% 67%) !important;
    --ifm-menu-color: hsl(214 10% 87%) !important;
    --ifm-navbar-shadow: 0 .5rem .5rem 0 hsl(201 61% 10%) !important;
    --ifm-tabs-color: var(--svgo-pri-fg-color) !important;
  }
}

#__docusaurus {
  view-timeline: --page-timeline;
}

/* Button overrides */
.button {
  --ifm-button-color: var(--svgo-pri-bg-color) !important;
  --ifm-button-background-color: var(--svgo-pri-fg-color) !important;
}

.button:hover,
.button:focus {
  --ifm-button-background-color: var(--svgo-button-hover-background-color) !important;
}

/* Navbar overrides */
.navbar__inner {
  max-width: var(--svgo-global-width);
  margin: 0 auto;
}

@media (min-width: 997px) {
  .github-shield {
    display: flex;
  }
}

/* TOC overrides */
.table-of-contents__link--active {
  color: var(--svgo-pri-fg-color);
}

/* Search overrides */
nav .navbar__search-input {
  border-radius: .5rem;
  background-color: var(--svgo-search-bg-color);

  @media (min-width: 577px) {
    width: 200px;
  }
}

nav .navbar__search-input:hover,
nav .navbar__search-input:focus {
  background-color: var(--svgo-search-bg-hover);
}

nav div kbd {
  background-color: var(--svgo-pri-bg-color) !important;
}

/* Footer overrides */
footer {
  --ifm-link-color: var(--ifm-footer-color) !important;
  --ifm-link-hover-color: hsl(276 9% 79%) !important;
  --ifm-link-hover-decoration: none !important;
  --ifm-footer-color: hsl(0 0% 100%) !important;
  --ifm-footer-link-color: var(--ifm-footer-color) !important;
  --ifm-footer-link-hover-color: var(--ifm-link-hover-color) !important;
  --ifm-footer-title-color: var(--ifm-footer-color) !important;
}

.designer-attribution {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.designer-attribution svg {
  margin-left: 0.25em;
}
